.card {
  display: grid;
  grid-template:
    "photo photo photo" 1fr
    ". . ." calc(var(--body) * 0.5)
    ". title ." auto
    ". price ." auto
    ". . ." calc(var(--body) * 0.5)
    / calc(var(--body) * 0.5) 1fr calc(var(--body) * 0.5);
  /* height: 240px; */
  aspect-ratio: 4 / 3;
  background-color: var(--card-background);
  border-radius: var(--body);
  overflow: hidden;

  > .photo {
    height: 0;
    min-height: 100%;
    grid-area: photo;
    width: 100%;
    object-fit: cover;
  }

  > .title {
    grid-area: title;
  }

  > .price {
    grid-area: price;
  }
}
